Exploration de la source de données

In [1]:
import pandas as pd
import os
from datetime import date, timedelta

In [2]:
#Racine des fichiers quotidiens
BASE_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv' # {}: indiquer pattern de l'url

#date de dispo des fichiers
START_DATE=date(2020, 1, 22)
END_DATE=date(2020, 3, 5)

#répertoire de sauvegarde des fichiers bruts
RAWFILES_DIR = '../data/raw/'

## boucle de récupération des fichiers

In [3]:
delta = END_DATE - START_DATE       # as timedelta

for i in range(delta.days + 1):
    day = START_DATE + timedelta(days=i)
    day_label = day.strftime("%m-%d-%Y")
    #print(day_label)
    virus_df=pd.read_csv(BASE_URL.format(day_label), sep=',') 
    virus_df.to_csv(os.path.join(RAWFILES_DIR, day_label + '.csv'), index=False)

In [4]:
import glob
df_list=[]

for file in glob.glob(os.path.join(RAWFILES_DIR, '*.csv')):
    virus_df = pd.read_csv(file, sep=',')
    if 'Latitude' in virus_df.columns and 'Longitude' in virus_df.columns:
        df_list.append(virus_df)
        
all_df=pd.concat(df_list)

In [5]:
all_df[['Province/State', 'Country/Region', 'Latitude', 'Longitude']].drop_duplicates().shape

(180, 4)

In [6]:
(all_df[['Province/State', 'Country/Region', 'Latitude', 'Longitude']]
 .drop_duplicates()
 .groupby(['Province/State', 'Country/Region'])
 .count()
 .sort_values(by='Latitude', ascending=False))

                                 Latitude  Longitude
Province/State   Country/Region
 Montreal, QC    Canada                 1          1
San Antonio, TX  US                     1          1
Shaanxi          Mainland China         1          1
Seattle, WA      US                     1          1
Sarasota, FL     US                     1          1
...                                   ...        ...
Hillsborough, FL US                     1          1
Henan            Mainland China         1          1
Heilongjiang     Mainland China         1          1
Hebei            Mainland China         1          1
Zhejiang         Mainland China         1          1

[95 rows x 2 columns]